In [1]:
students={
    'Maulik':{
        'College':'MU',
        'type':'Offline' },
    'Aman':'NPGC',
    'Abhay':'NPGC',
    'Mazahar':'AU',
    'Imadul':'IU',
    'Prashutosh':'SHUATS',
    'Shoeb':{
        'College':'IET',
        'type' : 'online' },
    'Mandavi':{
        'college':'HNBGU',
        'Type':'online' }
}

In [6]:
students['Aman']

'NPGC'

In [2]:
from pprint import pp

In [13]:
pp(students)

{'Maulik': {'College': 'MU', 'type': 'Offline'},
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahar': 'AU',
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'College': 'IET', 'type': 'online'},
 'Mandavi': {'college': 'HNBGU', 'Type': 'online'}}

In [14]:
students['Mandavi']['Type']

'online'

In [16]:
students['Shreya']={
    'college':'BBDU',
    'type':'online'
}

In [18]:
pp(students)

{'Maulik': {'College': 'MU', 'type': 'Offline'},
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahar': 'AU',
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'College': 'IET', 'type': 'online'},
 'Mandavi': {'college': 'HNBGU', 'Type': 'online'},
 'Shreya': {'college': 'BBDU', 'type': 'online'}}

In [20]:
students['Shoeb']['type']='flexi'
pp(students)

{'Maulik': {'College': 'MU', 'type': 'Offline'},
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahar': 'AU',
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'College': 'IET', 'type': 'flexi'},
 'Mandavi': {'college': 'HNBGU', 'Type': 'online'},
 'Shreya': {'college': 'BBDU', 'type': 'online'}}

In [21]:
students.pop('Abhay')

'NPGC'

In [22]:
pp(students)

{'Maulik': {'College': 'MU', 'type': 'Offline'},
 'Aman': 'NPGC',
 'Mazahar': 'AU',
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'College': 'IET', 'type': 'flexi'},
 'Mandavi': {'college': 'HNBGU', 'Type': 'online'},
 'Shreya': {'college': 'BBDU', 'type': 'online'}}

In [3]:
report={
    'class10':{
        'rohan':{
            'english':90,
            'maths':95,
            'hindi':85,
            'science':95,
            'ssc':95,
            'p.e':95,
        },
        'mohit':{
            'english':90,
            'maths':95,
            'hindi':85,
            'science':95,
            'ssc':95,
            'p.e':95,

        },
        'shreya':{
            'english':80,
            'maths':85,
            'hindi':75,
            'science':75,
            'ssc':85,
            'p.e':65,

        },
        'shubham':{
            'english':70,
            'maths':85,
            'hindi':95,
            'science':75,
            'ssc':65,
            'p.e':95,

        },
        'shruti':{
            'english':40,
            'maths':85,
            'hindi':95,
            'science':75,
            'ssc':65,
            'p.e':95,
            },
        'alex':{
            'english':52,
            'maths':75,
            'hindi':93,
            'science':72,
            'ssc':45,
            'p.e':85,
        },
    }
}

In [28]:
pp(report)

{'class10': {'rohan': {'english': 90,
                       'maths': 95,
                       'hindi': 85,
                       'science': 95,
                       'ssc': 95,
                       'p.e': 95},
             'mohit': {'english': 90,
                       'maths': 95,
                       'hindi': 85,
                       'science': 95,
                       'ssc': 95,
                       'p.e': 95},
             'shreya': {'english': 80,
                        'maths': 85,
                        'hindi': 75,
                        'science': 75,
                        'ssc': 85,
                        'p.e': 65},
             'shubham': {'english': 70,
                         'maths': 85,
                         'hindi': 95,
                         'science': 75,
                         'ssc': 65,
                         'p.e': 95},
             'shruti': {'english': 40,
                        'maths': 85,
                        'hindi': 95,
                        'science': 75,
                        'ssc': 65,
                        'p.e': 95},
             'alex': {'english': 52,
                      'maths': 75,
                      'hindi': 93,
                      'science': 72,
                      'ssc': 45,
                      'p.e': 85}}}

In [4]:
print(report.keys())

dict_keys(['class10'])

In [5]:
report['class10'].keys()

dict_keys(['rohan', 'mohit', 'shreya', 'shubham', 'shruti', 'alex'])

In [6]:
report['class10']['rohan'].keys()

dict_keys(['english', 'maths', 'hindi', 'science', 'ssc', 'p.e'])

In [7]:
report['class10']['rohan']['english']

90

In [8]:
report.values()

dict_values([{'rohan': {'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'ssc': 95, 'p.e': 95}, 'mohit': {'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'ssc': 95, 'p.e': 95}, 'shreya': {'english': 80, 'maths': 85, 'hindi': 75, 'science': 75, 'ssc': 85, 'p.e': 65}, 'shubham': {'english': 70, 'maths': 85, 'hindi': 95, 'science': 75, 'ssc': 65, 'p.e': 95}, 'shruti': {'english': 40, 'maths': 85, 'hindi': 95, 'science': 75, 'ssc': 65, 'p.e': 95}, 'alex': {'english': 52, 'maths': 75, 'hindi': 93, 'science': 72, 'ssc': 45, 'p.e': 85}}])

In [12]:
report['class10'].values()

dict_values([{'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'ssc': 95, 'p.e': 95}, {'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'ssc': 95, 'p.e': 95}, {'english': 80, 'maths': 85, 'hindi': 75, 'science': 75, 'ssc': 85, 'p.e': 65}, {'english': 70, 'maths': 85, 'hindi': 95, 'science': 75, 'ssc': 65, 'p.e': 95}, {'english': 40, 'maths': 85, 'hindi': 95, 'science': 75, 'ssc': 65, 'p.e': 95}, {'english': 52, 'maths': 75, 'hindi': 93, 'science': 72, 'ssc': 45, 'p.e': 85}])

In [13]:
print(report['class10'].values())

dict_values([{'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'ssc': 95, 'p.e': 95}, {'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'ssc': 95, 'p.e': 95}, {'english': 80, 'maths': 85, 'hindi': 75, 'science': 75, 'ssc': 85, 'p.e': 65}, {'english': 70, 'maths': 85, 'hindi': 95, 'science': 75, 'ssc': 65, 'p.e': 95}, {'english': 40, 'maths': 85, 'hindi': 95, 'science': 75, 'ssc': 65, 'p.e': 95}, {'english': 52, 'maths': 75, 'hindi': 93, 'science': 72, 'ssc': 45, 'p.e': 85}])

In [20]:
movies={
    '3 idiots':'a story about 3 idiot friends',
    'lunchbox':'a story about a lunchbox',
    'dangal':'a story about a wrestler',
    'pk':'a story about an alien',
    'taare zameen par':'a story about a dyslexic child',
}

In [16]:
movies.items() #it gives list of tuples

dict_items([('3 idiots', 'a story about 3 idiot friends'), ('lunchbox', 'a story about a lunchbox'), ('dangal', 'a story about a wrestler'), ('pk', 'a story about an alien'), ('taare zameen par', 'a story about a dyslexic child')])

In [22]:
for k,v in movies.items():
    print(f'{k:20} {v}')

3 idiots             a story about 3 idiot friends
lunchbox             a story about a lunchbox
dangal               a story about a wrestler
pk                   a story about an alien
taare zameen par     a story about a dyslexic child

In [24]:
isinstance(report['class10'],dict) #verify if the object is a data type

True

In [27]:
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
        for name,subjects in students.items():
            print('->',name)
            if isinstance(subjects,dict):
                for subject,marks in subjects.items():
                    print('  ->',subject,'=',marks)

class10
-> rohan
  -> english = 90
  -> maths = 95
  -> hindi = 85
  -> science = 95
  -> ssc = 95
  -> p.e = 95
-> mohit
  -> english = 90
  -> maths = 95
  -> hindi = 85
  -> science = 95
  -> ssc = 95
  -> p.e = 95
-> shreya
  -> english = 80
  -> maths = 85
  -> hindi = 75
  -> science = 75
  -> ssc = 85
  -> p.e = 65
-> shubham
  -> english = 70
  -> maths = 85
  -> hindi = 95
  -> science = 75
  -> ssc = 65
  -> p.e = 95
-> shruti
  -> english = 40
  -> maths = 85
  -> hindi = 95
  -> science = 75
  -> ssc = 65
  -> p.e = 95
-> alex
  -> english = 52
  -> maths = 75
  -> hindi = 93
  -> science = 72
  -> ssc = 45
  -> p.e = 85

In [35]:
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
        for name,subjects in students.items():
            print('->',name)
            if isinstance(subjects,dict):
                total=0
                for subject,marks in subjects.items():
                    total += marks 
                print('  total->',total)

class10
-> rohan
  total-> 555
-> mohit
  total-> 555
-> shreya
  total-> 465
-> shubham
  total-> 485
-> shruti
  total-> 455
-> alex
  total-> 422

In [36]:
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
        for name,subjects in students.items():
            print('->',name)
            if isinstance(subjects,dict):
                total=0
                for subject,marks in subjects.items():
                    total += marks 
                print('  avg->',total//6)

class10
-> rohan
  avg-> 92
-> mohit
  avg-> 92
-> shreya
  avg-> 77
-> shubham
  avg-> 80
-> shruti
  avg-> 75
-> alex
  avg-> 70

In [38]:
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
        for name,subjects in students.items():
            print('->',name)
            if isinstance(subjects,dict):
                total=sum(subjects.values())
                print('  avg->',total/6)

class10
-> rohan
  avg-> 92.5
-> mohit
  avg-> 92.5
-> shreya
  avg-> 77.5
-> shubham
  avg-> 80.83333333333333
-> shruti
  avg-> 75.83333333333333
-> alex
  avg-> 70.33333333333333

In [40]:
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
        for name,subjects in students.items():
            print('->',name)
            if isinstance(subjects,dict):
                highest=max(subjects.values())
                print(highest)

class10
-> rohan
95
-> mohit
95
-> shreya
85
-> shubham
95
-> shruti
95
-> alex
93

In [42]:
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
        for name,subjects in students.items():
            print('->',name)
            if isinstance(subjects,dict):
                mm=None
                sub=None
                for subject,marks in subjects.items():
                    if mm is None or mm < marks:
                        mm=marks
                        sub=subject
                print('  max->',sub,mm)

class10
-> rohan
  max-> maths 95
-> mohit
  max-> maths 95
-> shreya
  max-> maths 85
-> shubham
  max-> hindi 95
-> shruti
  max-> hindi 95
-> alex
  max-> hindi 93