In [3]:
2+2
4+1

5

In [2]:
4+1

5

In [4]:
print()

In [6]:
print(1,2)

1 2

In [10]:
name='Shoeb Ashraf'
age=25
city="New York"

In [8]:
print(name)
print(age)
print(city)

Alex Mercer
25
New York

In [11]:
print('my name is',name)

my name is Shoeb Ashraf

In [12]:
print('my name is',name,'i am',age,'years old and i live in',city)

my name is Shoeb Ashraf i am 25 years old and i live in New York

In [13]:
print(name,age,city)

Shoeb Ashraf 25 New York

In [15]:
per=10
base=15
hyp=(per**2+base**2)**0.5
print(hyp)

18.027756377319946

In [16]:
print('hypotenuse is',hyp)

hypotenuse is 18.027756377319946

In [17]:
print('hypotenuse is',round(hyp,2))

hypotenuse is 18.03

'hello base

to make statements short and confined we use f string

In [19]:
'hello base'

'hello base'

In [21]:
f'hello {base} years old boy'

'hello 15 years old boy'

f is a format string

In [22]:
print(f'Name: {name},Age: {age},city: {city}')

Name: Shoeb Ashraf,Age: 25,city: New York

In [25]:
import math
print(math.pi)
r=20
circumference=2*math.pi*r
print(f'ans= {circumference:.2f}')

3.141592653589793
ans= 125.66

In [27]:
print(f'ans= {circumference: .4f}')

ans=  125.6637

In [28]:
print(f'ans ={round(circumference,1)}')

ans =125.7

In [30]:
input('what is your name')

'michael jackson'

In [31]:
name = input('what is your name?')
print("0h,so your name is", name)

0h,so your name is michael

In [32]:
x= input('enter a number:')
y= input('enter another number')
print(x+y)

467

ans is wrong here coz two str can only be concatinated and not added, input fn stores only str

In [33]:
'100'

'100'

In [34]:
int('100')

100

In [35]:
float('100')

100.0

In [36]:
list('100')

['1', '0', '0']

In [37]:
x=5000
str(x)

'5000'

In [38]:
int('')

ValueError: invalid literal for int() with base 10: ''

In [39]:
int('-10')

-10

In [40]:
int('*10')

ValueError: invalid literal for int() with base 10: '*10'

In [41]:
int('10a')

ValueError: invalid literal for int() with base 10: '10a'

In [43]:
x= int(input('enter a number:'))
y=int(input('enter another number:')
           )
print(x+y)

63