In [1]:
x=(1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [2]:
y=1,2,3,4 #tuple packing
print(y)
print(type(y))

(1, 2, 3, 4)
<class 'tuple'>

In [4]:
print(x[0])
print(x[-1])
print(x[:2])
print(x[2:])

1
3
(1, 2)
(3,)

there are only two fn in tuple
-
-

In [15]:
x=(1,2,3,4,34,35,351,45154,656,1,1,56,4,344,545)
ones= x.count(1)
print(ones)

3

In [12]:
x.index(35) #index of first 5

4

In [9]:
a=[1,2,3]
a[0]=100
print(a)

[100, 2, 3]

In [10]:
b=(1,2,3)
b[0]=100
print(b)

TypeError: 'tuple' object does not support item assignment

In [11]:
a=()
print(a)
a=list(a) # force to be a list
a.append(1)
a.append(2)
a.append(3)
a= tuple(a) #force to be a tuple
print(a)

()
(1, 2, 3)

sets

In [18]:
x={1,2,3,4,5,6,1,2,3}
x

{1, 2, 3, 4, 5, 6}

In [19]:
colors={'red','green','blue','yellow','orange','brown','black','red'}
print(colors)

{'blue', 'green', 'red', 'orange', 'brown', 'yellow', 'black'}

In [21]:
colors.add('purple')
colors

{'black', 'blue', 'brown', 'green', 'orange', 'purple', 'red', 'yellow'}

In [22]:
colors.remove('red')
colors

{'black', 'blue', 'brown', 'green', 'orange', 'purple', 'yellow'}

In [23]:
accounts_section={
    'ajay','vijay','raju','sohan'
}
marketing_section={
    'ajay','vijay','ramesh','suresh','mohan'
}
accounts_section | marketing_section # union in sets

{'ajay', 'mohan', 'raju', 'ramesh', 'sohan', 'suresh', 'vijay'}

In [24]:
accounts_section&marketing_section #intersection in sets

{'ajay', 'vijay'}

In [25]:
accounts_section-marketing_section # difference

{'raju', 'sohan'}

In [26]:
marketing_section-accounts_section#difference

{'mohan', 'ramesh', 'suresh'}

In [28]:
marketing_section^accounts_section#symmetric difference

{'mohan', 'raju', 'ramesh', 'sohan', 'suresh'}

In [29]:
accounts_section^marketing_section

{'mohan', 'raju', 'ramesh', 'sohan', 'suresh'}

In [30]:
accounts_section.union(marketing_section)#union

{'ajay', 'mohan', 'raju', 'ramesh', 'sohan', 'suresh', 'vijay'}